html {
    background-color: #495ebb;
    background-size: 2px;
    font-family: 'Roboto';
    }
    
    
    .wrapper {
      margin: 50px auto 0 10px;
    }
  
    .autos {
      display: flex;
      padding: 20px;
    }
  
    .autoCard {
      background: #fff;
      padding: 20px;
      margin-left: 10px;

    }
  
    h2 {
      font-size: 18px;
      text-align: center;
    }
  
    button {
      background: #001b3f;
      color: #fff;
      padding: 10px 22px;
      border: 0;
      font-size: 16px;
      cursor: pointer;
      
    }
    
    h1 {
      text-align: center;
      color: #fff;
      margin: 20px 10px 10px;
      font-weight: bold;
    }
    .pDiv {
        color: #fff;
        font-size: 30px;
        font-style:italic;
    }